@charset "UTF-8";
body {
  background: #bee0c2;
  font-size: 14px;
  font-family: Verdana,sans-serif;
}

body .container {
  width: 90%;
  margin: 50px auto;
  background: #FFF;
  border-radius: 4px;
  padding: 20px 16px 20px 16px;
  position: relative;
}

body .container #count {
  display: inline-block;
  font-size: 24px;
}

body .container #time #timer {
  font-size: 24px;
}

body .container #question {
  border-radius: 15px;
  text-align: center;
  line-height: -100px;
  font-size: 45px;
  margin: 30px 0 16px;
  font-weight: bold;
}

body .container #choices {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}

body .container #choices li {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 0 55px 10px;
  width: 60%;
  cursor: pointer;
}

body .container #choices li:hover {
  background: #f8f8f8;
}

body .container #choices li.correct {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  font-weight: bold;
}

body .container #choices li.correct::after {
  content: ' ... 正解!';
}

body .container #choices li.wrong {
  background: #f8d8da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

body .container #choices li.wrong::after {
  content: ' ... 不正解!';
}

body .container #btn, body .container #finishBtn, body .container #result #replay, body .container #startDisplay #replay, body .container #result #link, body .container #startDisplay #link, body .container #result #backBtn2, body .container #startDisplay #backBtn2, body .container #startDisplay #backBtn1, body .container #startDisplay #startBtn {
  background: #a7d28d;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #000;
  -webkit-box-shadow: 0 4px 0 #37a34a;
          box-shadow: 0 4px 0 #37a34a;
  width: 80%;
  margin: 0 auto;
}

body .container #btn.disabled, body .container .disabled#finishBtn, body .container #result .disabled#replay, body .container #startDisplay .disabled#replay, body .container #result .disabled#link, body .container #startDisplay .disabled#link, body .container #result .disabled#backBtn2, body .container #startDisplay .disabled#backBtn2, body .container #startDisplay .disabled#backBtn1, body .container #startDisplay .disabled#startBtn {
  background: #ccc;
  -webkit-box-shadow: 0 4px 0 #bbb;
          box-shadow: 0 4px 0 #bbb;
  opacity: 0.7;
}

body .container #finishBtn {
  margin-top: 20px;
  background: #ea5550;
  -webkit-box-shadow: 0 4px 0 #e8383d;
          box-shadow: 0 4px 0 #e8383d;
}

body .container #result, body .container #startDisplay {
  position: absolute;
  width: 300px;
  background: #fff;
  padding: 30px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body .container #result.hidden, body .container .hidden#startDisplay {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

body .container #result p, body .container #startDisplay p {
  font-size: 24px;
}

body .container #result #replay, body .container #startDisplay #replay {
  display: block;
  text-decoration: none;
}

body .container #result #link, body .container #startDisplay #link {
  display: block;
  width: 80%;
  height: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background: #000;
  margin-top: 20px;
  background: #00a1e9;
  -webkit-box-shadow: 0 4px 0 #0075c2;
          box-shadow: 0 4px 0 #0075c2;
}

body .container #result #backBtn2, body .container #startDisplay #backBtn2, body .container #startDisplay #backBtn1 {
  display: inline-block;
  margin-top: 20px;
  background: #f3a68c;
  -webkit-box-shadow: 0 4px 0 #ea5550;
          box-shadow: 0 4px 0 #ea5550;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

body .container #startDisplay {
  width: 80%;
  height: 450px;
}

body .container #startDisplay #startBtn {
  height: 50px;
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0;
}
/*# sourceMappingURL=style_phone.css.map */